.contains{
    background: #4aa3d2;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 23px;
}
.img{
    height: 250px;
    border-radius: 100%;

}